.hidden-status-message {
  display: none;
  opacity: 0;
}

.show-status-message {
  animation: show-status-message 0.5s ease-in-out;
}

@keyframes show-status-message {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
};

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(90deg);
  }
}