.MySimpleCookbook {
    background-color: red;
    position: absolute;
    width: 100%;
}

.Header {
    background-color: red;
}

/* .HomeHeader > h4 {
    color: white;
    text-align: center;
    position: fixed;
    display: inline-block;
} */

.AddRemoveRecipe {
    padding: 20px;
}

.AddRemoveRecipe a {
    width: 100%;
}
